@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400&display=swap');
/* 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Color de fondo gris claro */
    /* Color de texto negro  */

h1, h2, h3 {
    color: #0f0f0f;; /* Color de encabezados gris medio */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0f0f0f; /* Color de etiquetas gris */
    font-weight: bolder;
    font-size: larger;
}

.radio-label label {
    display: inline;
    vertical-align: middle;
    /* Hacer que el texto esté en línea con el radio button */ /*NO FUNCIONA*/
  }

input[type="text"], select, datetime-local, input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
}

.inputTarjeta {
    width: 40%;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #333; /* Color de botón gris oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px;
}

button[type="submit"]:hover {
    background-color: #555; /* Color de botón gris más oscuro al pasar el ratón */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    input[type="text"], select, datetime-local {
        font-size: 16px;
    }

    button[type="submit"] {
        font-size: 18px;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333; /* Fondo del navbar en color gris oscuro */
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    color: white; /* Color del texto en el navbar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Cambio de color al pasar el ratón sobre los enlaces */
    color: black; /* Cambio de color del texto al pasar el ratón sobre los enlaces */
}

/* Estilos para el título en el navbar */
.navbar-title {
    float: left;
    font-size: 24px;
    color: white; /* Color del título en el navbar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section{
    background-color: #444;
    margin: 50px;
}

.custom-radio {
    display: inline-block;
    /* width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative; */
    vertical-align: middle; /* Alinear verticalmente con el texto */
  }

.radio-label div {
    margin-bottom: 10px; /* Agregar espacio de 10px entre las opciones */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: larger;
    background-color: #ECCDB4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .titulo {
    display: flex;
    justify-content: center;
    color: #313552;
    background-color: #EEE6CE;
    font-size: 45px;
    margin: 10px;
    width: 215px;
} */

h1.titulo {
    text-align: center; /* Centrar el texto horizontalmente */
    /* margin: 0 auto; Centrar el bloque horizontalmente */
    padding: 20px 0; /* Agregar espacio en la parte superior e inferior */
    display: flex;
    justify-content: center;
    color: #0f0f0f;
    background-color: #eccdb7;
    font-size: 30px;
    margin: 10px;
}

.btn-siguiente {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    /* position: absolute; */
}

.btn-anterior {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}




label#imagenLabel.custom-button {
    display: block;
    background-color: #eccdb7;
    border: 1px solid #816f62;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
  }
  
  label#imagenLabel.custom-button:hover {
    background-color: #70513a;
    color: #fff;
  }
  
  /* Input de tipo file */
  
  input#imagenInput {
    display: none;
  }
/* Imagen */

img#imagenMostrada {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 5px;
  }
  

input#eliminarImagen {
    display: block;
    background-color: #fc0000;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    cursor: pointer;
  }
  
input#eliminarImagen:hover {
    background-color: #8b0606;
    color: #fff;

  }