@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400&display=swap');
/* 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Color de fondo gris claro */
    /* Color de texto negro  */

h1, h2, h3 {
    color: #0f0f0f;; /* Color de encabezados gris medio */
}

#titulo {
    background-color: red;
}


.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 192, 113);
    border-radius: 15px;
    box-shadow: inset 3px 5px 5px rgba(0,0,0,0.05);
}

.logo-app{
    width: 70px;
    height: 70px;
    padding-right: 10px;
}

.lo-que-sea{
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0f0f0f; /* Color de etiquetas gris */
    font-weight: bolder;
    font-size: larger;
}


/*DIV de la cabecera que dice lo que sea*/
.lo-que-sea-titulo{
    width: 350px;
    height: 60px;
}


.botones {
    text-align: right;

}

.botones_der button {
    float: right;
    background-color: transparent;
    border: none;
}


.botones_izq{
    margin-bottom: 20px;
}
.botones_izq button{
    float: left;
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
}
.botones_izq button i {
    font-style: normal;
    font-size: 50px; /* Tamaño de fuente para el ícono */
    margin-right: 5px; /* Espacio entre el ícono y el texto (ajusta según tus necesidades) */
}


.radio-label label {
    display: inline;
    vertical-align: middle;
    /* Hacer que el texto esté en línea con el radio button */ /*NO FUNCIONA*/
  }

input[type="text"], select, datetime-local, input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
}

.inputTarjeta {
    width: 40%;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #333; /* Color de botón gris oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px;
}

button[type="submit"]:hover {
    background-color: #555; /* Color de botón gris más oscuro al pasar el ratón */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    input[type="text"], select, datetime-local {
        font-size: 16px;
    }

    button[type="submit"] {
        font-size: 18px;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333; /* Fondo del navbar en color gris oscuro */
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    color: white; /* Color del texto en el navbar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Cambio de color al pasar el ratón sobre los enlaces */
    color: black; /* Cambio de color del texto al pasar el ratón sobre los enlaces */
}

/* Estilos para el título en el navbar */
.navbar-title {
    float: left;
    font-size: 24px;
    color: rgb(226, 226, 226); /* Color del título en el navbar */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section{
    background-color: #444;
    margin: 50px;
}

.custom-radio {
    display: inline-block;
    /* width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative; */
    vertical-align: middle; /* Alinear verticalmente con el texto */
  }

.radio-label div {
    margin-bottom: 10px; /* Agregar espacio de 10px entre las opciones */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: larger;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .titulo {
    display: flex;
    justify-content: center;
    color: #313552;
    background-color: #EEE6CE;
    font-size: 45px;
    margin: 10px;
    width: 215px;
} */

h1.titulo {
    text-align: center; /* Centrar el texto horizontalmente */
    /* margin: 0 auto; Centrar el bloque horizontalmente */
    padding: 20px 0; /* Agregar espacio en la parte superior e inferior */
    display: flex;
    justify-content: center;
    color: #0f0f0f;
    background-color: #eccdb7;
    font-size: 30px;
    margin: 10px;
}

.material-symbols-outlined {
    cursor: pointer;
    /* position: absolute; */
}

label#imagenLabel.custom-button {
    display: block;
    background-color: #eccdb7;
    border: 1px solid #816f62;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
  }
  
  label#imagenLabel.custom-button:hover {
    background-color: #70513a;
    color: #fff;
  }
  
  /* Input de tipo file */
  
  input#imagenInput {
    display: none;
  }
/* Imagen */

img#imagenMostrada {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 5px;
  }
  

input#eliminarImagen {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    background-color: #fc0000;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    cursor: pointer;
  }
  
input#eliminarImagen:hover {
    background-color: #8b0606;
    color: #fff;

  }

  input[type="text"],
  input[type="tel"] {
    font: inherit;
    line-height: inherit;
    padding: 1.5em/6em 1.5em/3em; /* Reemplaza $lh por valores concretos */
  }
  
  .payment {
    margin: 0;
    background: transparent;
  }
  
  .cardInfo {
    font-size: 1.25em;
  }
  
  .cardInfo__personalDetails,
  .cardInfo__cardDetails {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .cardInfo__cardDetails {
    border-top: solid 1px #eee;
    margin-top: 0.375em;
  }
  
  .paymentInfo__total {
    font-size: 1.25em;
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/lock.svg') no-repeat center left;
    background-size: 1.5em;
    margin: 0 0 0.75em 0;
    padding-left: 2em;
  }
  
  .form-row {
    margin: 0.375em 0;
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.75em;
  }
  
  .icon-secure,
  .cc-num__wrap {
    position: relative;
  }
  
  .cardInfo_firstname,
  .cardInfo_surname {
    width: 48.75%;
  }
  
  .cardInfo_firstname {
    float: left;
  }
  
  .cardInfo_surname {
    float: right;
  }
  
  .card {
    position: absolute;
    display: block;
    right: 0.375em;
    top: 50%;
    margin-top: -10px;
    width: 28px;
    height: 19px;
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/card.svg') center center;
    background-size: 100%;
  }
  
  .cardInfo__cc-exp,
  .cardInfo__cc-cvc {
    float: left;
    max-width: 4.875em;
  }
  
  .cardInfo__cc-exp {
    margin-right: 0.75em;
  }
  
  .cardInfo__cc-exp,
  .cc-exp__example {
    max-width: 5.75em !important;
  }
  
  .cc-num.visa + .card {
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/visa.png') no-repeat center center;
  }
  
  .cc-num.amex + .card {
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/amex.png') no-repeat center center;
  }
  
  .cc-num.mastercard + .card {
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/mastercard.png') no-repeat center center;
  }
  
  .cc-num.diners + .card {
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/diners.png') no-repeat center center;
  }
  
  .cc-num.discover + .card {
    background: url('https://d2fz1tzabfzgo4.cloudfront.net/demos/cards/discover.png') no-repeat center center;
  }
  
  .cardInfo__submission {
    clear: both;
    padding-top: 1.5 - 0.375em; /* Esto parece incorrecto, verifica el valor */
    margin-bottom: 0.75em;
  }
  
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    display: block;
    margin-top: 0.35em;
    padding: 0.35em;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 0.1875em;
    box-sizing: border-box;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus {
    border-color: #fff;
    box-shadow: 0 0 0.1875em #3498db;
    outline: none;
  }
  
  input[type="submit"] {
    font-size: 0.875em;
    background: #2ecc71;
    border: solid 1px darken(#2ecc71, 5%);
    padding: 0.375em 0.5em;
    color: #fff;
    border-radius: 0.1875em;
  }
  
  .cancel-link {
    font-size: 0.875em;
    float: right;
    color: #bbb;
    padding-top: 0.375em;
    text-decoration: none;
  }
  
  .cc-exp__outputs {
    margin: 0;
    padding: 1.5em/6em 0 0;
    b {
      color: #999;
    }
  }
  
  .cc-exp__output {
    margin-right: 0.75em;
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }